ul {
  padding-top: 10px;
}

li {
  list-style: none;
}

#search-bar {
  padding-top: 20px;
  max-width: 70%;
  margin: 0 auto;
}

#current-location-button {
  margin-left: 10px;
}

.body {
  font-family: "Poppins", sans-serif;
}

.card-body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  text-align: center;
  font-family: monospace;
  font-size: 15px;
}

.col-lg-4 {
  padding-top: 15px;
}

.col-md-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.current {
  text-align: center;
  padding: 0;
}

.current-city {
  color: blue;
  font-size: 60px;
  font-family: "Koulen", cursive;
}

.current-date {
  font-weight: bolder;
  font-size: 20px;
}

.current-time {
  font-size: larger;
}

#temperature {
  color: gray;
  font-size: 80px;
}

#units {
  position: relative;
  top: -45px;
}

#celcius-link,
#farenheit-link {
  text-decoration: none;
  font-size: larger;
}

#description {
  text-transform: capitalize;
}

#current-temp-icon {
  width: 50%;
  margin: 0 auto;
}

.weather-details {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.weather {
  padding-left: 0;
  font-size: 16px;
}

.day {
  font-weight: bold;
  font-size: 18px;
}

#weekdates {
  font-weight: bolder;
  color: darkblue;
}

#week-temps {
  font-weight: bold;
}

.fa-cloud-sun {
  font-size: 100px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.fa-cloud-moon-rain {
  font-size: 50px;
  padding: 15px 0px 15px 0px;
}

#coded-by {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  font-family: monospace;
  padding-top: 5px;
}
